# Data
data_storage/
*.parquet
*.db
*.csv

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
*.egg-info/

# IDEs
.vscode/
.idea/

# Environment
.env

# Notebooks
.ipynb_checkpoints/

# Logs
logs/
*.log

# Models
models/*.pkl